@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model loginModel
@using Microsoft.AspNetCore.Http

<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
	// Check if ViewBag.InvalidCredentials is true and show alert
	if ('@ViewBag.InvalidCredentials' === 'True') {
		alert('Invalid username or password');
	}
</script>

<head>

	<style>

	/* 	body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin-left: 500px;
		}

		 #loginForm {
				background-color: #fff;
				border-radius: 8px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				padding: 20px;
				width: 300px;
			} 

		/* #loginForm label {
			display: block;
			margin-bottom: 8px;
			font-weight: bold;
		}

		#loginForm input {
			width: 100%;
			padding: 8px;
			margin-bottom: 16px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		#loginForm button {
			background-color: #776BCC;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			width: 100%;
		}

			#loginForm button:hover {
				background-color: #776BCC;
			}


		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			font-family: Raleway, sans-serif;
		}

		body {
			background: linear-gradient(90deg, #C7C5F4, #776BCC);
		}

		.container {
			display: flex;
			align-items: center;
			justify-content: start;
			min-height: 100vh;
		}

		.screen {
			background: linear-gradient(90deg, #5D54A4, #7C78B8);
			position: relative;
			height: 600px;
			width: 360px;
			box-shadow: 0px 0px 24px #5C5696;
		}

		.screen__content {
			z-index: 1;
			position: relative;
			height: 100%;
		}

		.screen__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
		}

		.screen__background__shape {
			transform: rotate(45deg);
			position: absolute;
		}

		.screen__background__shape1 {
			height: 520px;
			width: 520px;
			background: #FFF;
			top: -50px;
			right: 120px;
			border-radius: 0 72px 0 0;
		}

		.screen__background__shape2 {
			height: 220px;
			width: 220px;
			background: #6C63AC;
			top: -172px;
			right: 0;
			border-radius: 32px;
		}

		.screen__background__shape3 {
			height: 540px;
			width: 190px;
			background: linear-gradient(270deg, #5D54A4, #6A679E);
			top: -24px;
			right: 0;
			border-radius: 32px;
		}

		.screen__background__shape4 {
			height: 400px;
			width: 200px;
			background: #7E7BB9;
			top: 420px;
			right: 50px;
			border-radius: 60px;
		}

		.login {
			width: 320px;
			padding: 30px;
			padding-top: 156px;
		}

		.login__field {
			padding: 20px 0px;
			position: relative;
		}

		.login__icon {
			position: absolute;
			top: 30px;
			color: #7875B5;
		}

		.login__input {
			border: none;
			border-bottom: 2px solid #D1D1D4;
			background: none;
			padding: 10px;
			padding-left: 24px;
			font-weight: 700;
			width: 75%;
			transition: .2s;
		}

			.login__input:active,
			.login__input:focus,
			.login__input:hover {
				outline: none;
				border-bottom-color: #6A679E;
			}

		.login__submit {
			background: #fff;
			font-size: 14px;
			margin-top: 30px;
			padding: 16px 20px;
			border-radius: 26px;
			border: 1px solid #D4D3E8;
			text-transform: uppercase;
			font-weight: 700;
			display: flex;
			align-items: center;
			width: 100%;
			color: #4C489D;
			box-shadow: 0px 2px 2px #5C5696;
			cursor: pointer;
			transition: .2s;
		}

			.login__submit:active,
			.login__submit:focus,
			.login__submit:hover {
				border-color: #6A679E;
				outline: none;
			}

		.button__icon {
			font-size: 24px;
			margin-left: auto;
			color: #7875B5;
		}

		.social-login {
			position: absolute;
			height: 140px;
			width: 160px;
			text-align: center;
			bottom: 0px;
			right: 0px;
			color: #fff;
		}

		.social-icons {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.social-login__icon {
			padding: 20px 10px;
			color: #fff;
			text-decoration: none;
			text-shadow: 0px 0px 8px #7875B5;
		}

			.social-login__icon:hover {
				transform: scale(1.5);
			} */
		.btn-color {
			background-color: #0e1c36;
			color: #fff;
		}

		.profile-image-pic {
			height: 200px;
			width: 200px;
			object-fit: cover;
		}



		.cardbody-color {
			background-color: #ebf2fa;
		}

		a {
			text-decoration: none;
		}


	</style>
</head>


<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			
				<form asp-action="Login" asp-controller="Home" method="post" class="card-body cardbody-color p-lg-5">

					<div class="text-center">
					<img src="https://pluspng.com/img-png/png-user-icon-icons-logos-emojis-users-2400.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
							 width="200px" alt="profile">
					</div>

					<div class="mb-3">
						<input asp-for="Username" type="text" class="form-control" id="Username" 
							   placeholder="User Name">
					</div>
					<div class="mb-3">
						<input asp-for="Password" type="password" class="form-control" id="password" placeholder="password">
					</div>
					<div class="text-center">
					<button type="submit" class="btn btn-color px-5 mb-5 w-100" id="loginButton">Login</button>
				</div>
					<div id="emailHelp" class="form-text text-center mb-5 text-dark">
						Not
						Registered? <a href="#" class="text-dark fw-bold">
							Create an
							Account
						</a>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>












@* <form>
	<div class="container" style="kdisplay:flex; justify-content:center; align-items:center  ;flex:auto; flex-direction:column;">

		<div class="form-group" >
		<label for="exampleInputEmail1"></label>
		<input asp-for="Username" type="text" class="Username" id="username" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted"></small>
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1"></label>
		<input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
	</div>
	<div class="form-group form-check">
		<input type="checkbox" class="form-check-input" id="exampleCheck1">
		
	</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form> *@

@* <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" id="loginForm" asp-action="Login" asp-controller="Home" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input asp-for="Username" type="text" class="Username" id="username" placeholder="User name / Email">
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input asp-for="Password" type="password" class="password" id="password" value="" placeholder="Password">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<button class="button login__submit" type="submit" id="loginButton">
					<span class="button__text">Login</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form> *@
			@* <div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div> *@
		@* <div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div> 
	</div>
</div>*@
